
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.95)),url(../GIFFILES/cupcakes.gif);
    background-size: 10em;
}


img{
    border-radius: 2em;
}

.about-me {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0em 2em 2em 2em;

    img{ 
        max-width: 20vw;
        max-height: auto;
        min-width: 20%;
        border-radius: 20px;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 50%;
    }

}

.links{
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 2em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.socialCard{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img{
        padding: 1em;
        width: 30%;
        height: auto;
    }
}


@media (max-width: 768px) {
 
    .about-me{
        display: flex;
        flex-direction: column ;
        width: 100%;
        align-items: center;
        text-align: justify;
        div{
            padding: 1em;
            width: 100%;
        }
        img{
            max-width: 45vw;
        }
        

        
    }

    .links{
        padding: 1em;
        margin: 1em;
        display: flex;
        flex-direction: column;
    }

    .socialCard{
        margin: 1em;
    }
}