
body{
    background-image: url('../GIFFILES/starPattern.gif');
    background-size: 10em;
}

.about-me {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0em 2em 2em 2em;

    img{ 
        max-width: 20vw;
        max-height: auto;
        min-width: 20%;
        border-radius: 20px;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 50%;
    }

}


@media (max-width: 768px) {
 
    .about-me{
        display: flex;
        flex-direction: column ;
        width: 100%;
        align-items: center;
        text-align: justify;
        div{
            padding: 1em;
            width: 100%;
        }
        img{
            max-width: 45vw;
        }
        

        
    }
}