
.about-me {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0em 2em 2em 2em;

    img{ 
        max-width: 20vw;
        max-height: auto;
        min-width: 20%;
        border-radius: 20px;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 50%;
    }

}


@media (max-width: 768px) {
 
    .about-me{
        img{
            max-width: 45vw;
        }
    }
}