@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

header{
    h1{
        border: 0px;
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(../GIFFILES/pigeonBakery.gif) !important;
        background-size: 20%;
        margin: 0em 0em 1em 0em;
        padding: 1em;
        box-shadow: 0.5rem 0px 1rem  rgba(0,0,0,0.5);
    }
}

.itemTypeMenu{
    z-index: 50;
    position: fixed;
    bottom: 1em;
    width: 60%;
    left: 20%;
    right: 20%;
    height: 10rem;
    background-color: white;

    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;     
    overflow-y: hidden;    
    gap: 1em;
    padding: 1em 0em;
    text-align: center;
    border-radius: 4em;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.6);
    
    a{
        height: 8em;
        width: 8em;
        background-size: 100%;
        border-radius: 10rem;
        box-shadow: 0.5rem 0.5rem 1rem  rgba(225, 0, 255, 0.2);
        color: white;
    }
    
}

.itemTypeButton{
    flex: 0 0 auto;        /* Prevent shrinking/growing, keep fixed width */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    width: 10em;
    height: 10em;
    margin: 0em 2em;
    
}

#menuList{
    margin: 0em 0em 1em 0em;
}

h3{
    font-size: 2rem;
}

.priceText{
    font-family: 'PT Serif Caption', serif;
}

.descriptionText{
    padding: 1em 0em; 
}

h1{
    padding: 1em 0em;
    margin: 1em 0.5em 0em 0.5em;

    border-top: 5px solid rgba(0,0,0,0.2);
    
}

.flavourList{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(../GIFFILES/dazzlingBakes.gif) !important;
    margin: 1em !important;
    border-radius: 1rem;
    
}

.customNote{
    color: rgb(255, 0, 255);
    text-shadow: 1px 1px 2px rgba(255, 255, 255);
    font-size:  1em;
    padding: 1em;
}

.itemCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1em;
    margin: 0em; 
    gap: 1em;
    img{
        flex: 1;
        max-width: 100%;
        height: 20vh;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
        object-fit:cover;

        display: block;
        
    }

}

h2{
    font-size: 3rem;
}

.briefMenu{
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em 0em 2em; 
    a{
        background-color: rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    a:hover{
        background-color: rgba(0,0,0,0.8);
        color: white;
        border-radius: 50%;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
}





/*BUTTONS*/
#cupcakeButton{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../PRODUCTIMGS/cake.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#cakesicleButton{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../PRODUCTIMGS/cakesicle.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#cheesecakeButton{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../PRODUCTIMGS/cheesecake.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#chocstrawButton{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../PRODUCTIMGS/choclatestrawberry.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#cakeButton{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../PRODUCTIMGS/cake.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#bentoButton{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../PRODUCTIMGS/bento.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#cakepopButton{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../PRODUCTIMGS/cakepop.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#brownieButton{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../PRODUCTIMGS/brownie.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#milkcakeButton{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../PRODUCTIMGS/milkcake.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    header{
        h1{
            border: 0px;
            background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(../GIFFILES/pigeonBakery.gif);
            background-size: 100%;
            margin: 0em;
            padding: 2em;
            box-shadow: 0.5rem 0px 1rem  rgba(0,0,0,0.5);
        }
    }

    h1{
        font-size: 3em;
        margin: 0em 0em 1em 0em;
        padding-bottom: 1em;
        border-top: 5px solid rgba(0,0,0,0.2);
        border-bottom: 5px solid rgba(0,0,0,0.2);
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(../GIFFILES/pattern2.gif) !important;
    }

    h2{
        border-top: 3px solid rgba(0,0,0,0.2);
        font-size: 3em;
        padding: 0.5em;    
    }

    .itemTypeMenu{
        height: 10em;
        width: 50%;
        left: 25%;
        right: 25%;
        margin: 0.2em;
        bottom: 2em; 
        border-radius: 2em;
    }

    .itemTypeButton{
        height: 6rem;
        width: 6rem;
    }
    
    .itemCard{
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        text-align: left;
        h3{
            text-align: center;
            padding: 0.5em 0em 0em 0em;
        }

        img{
            max-height: 5em;
            width: 90%;
            object-fit: cover;
        }
    }

    .briefMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 2em 2em 2em; 
    a{
        background-color: rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    a:hover{
        background-color: rgba(0,0,0,0.8);
        color: white;
        border-radius: 50%;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
}


}

