header{
    display:none;
}

.itemTypeMenu{
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;      /* Enable horizontal scrolling */
    overflow-y: hidden;    /* Hide vertical scroll */
    gap: 1em;
    padding: 1em 0em;
    text-align: center;
    a{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../GIFFILES/cakeIcon.gif);
        background-size: 100%;
        border-radius: 10rem;
        box-shadow: 0.5rem 0.5rem 1rem  rgba(225, 0, 255, 0.2);
        color: white;
    }
    
}

.itemTypeButton{
    flex: 0 0 auto;        /* Prevent shrinking/growing, keep fixed width */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    width: 10em;
    height: 10em;
    margin: 0em 2em;
}

h3{
    font-size: 2rem;
}

.priceText{

}

.descriptionText{
    padding: 1em 0em; 
}

h1{
    padding: 1em;
    margin: 0.2em 1em;

    border-top: 5px solid rgba(0,0,0,0.2);

}

.itemCard{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 1em; 
    gap: 1em;

    /*
    border: rgba(225, 0, 255, 0.4) 0.5rem solid;
    border-radius: 5rem;
    */

    img{
        flex: 1;
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
        object-fit:contain;
        display: block;
    }

}

h2{
    font-size: 3rem;
}

.briefMenu{
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em 0em 2em; 
    a{
        background-color: rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    a:hover{
        background-color: rgba(0,0,0,0.8);
        color: white;
        border-radius: 50%;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
}

@media (max-width: 768px) {
    header{
        display: block;
        h1{
            border: 0px;
            background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(../GIFFILES/pigeonBakery.gif);
            background-size: 100%;
            margin: 0em;
            padding: 2em;
            box-shadow: 0.5rem 0px 1rem  rgba(0,0,0,0.5);
        }
    }

    h1{
        margin-bottom: 0em;
        padding-bottom: 1em;
        border-top: 0em;
        border-bottom: 5px solid rgba(0,0,0,0.2);
    }
    h2{
        font-size: 2rem;
    }
    .itemTypeMenu{
        height: 8em;
    }
    .itemTypeButton{
        height: 6rem;
        width: 6rem;
    }
    
    .itemCard{
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        text-align: left;
        h3{
            text-align: center;
            padding: 1em 0em;
        }
    }

    .briefMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 2em 2em 2em; 
    a{
        background-color: rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    a:hover{
        background-color: rgba(0,0,0,0.8);
        color: white;
        border-radius: 50%;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
}


}

