@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');



header{
    h1{
        border: 0px;
        background: linear-gradient(rgba(96, 33, 33, 0.5), rgba(48, 24, 24, 0.9)) !important;
        background-size: 20%;
        margin: 0em 0em 1em 0em;
        padding: 1em;
    }
}

.itemTypeMenu{
    z-index: 50;
    position: fixed;
    bottom: 1em;
    width: 45%;
    left: 27.5%;
    right: 27.5%;
    height: 10rem;
    background-color: rgb(37, 37, 37);

    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;     
    overflow-y: hidden;    
    gap: 1em;
    padding: 1em 0em;
    text-align: center;
    border-radius: 4em;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.6);
    
    a{
        height: 8em;
        width: 8em;
        background-size: 100%;
        border-radius: 10rem;
        box-shadow: 0.5rem 0.5rem 1rem  rgba(255, 0, 0, 0.2);
        color: white;
    }
    
}

.itemTypeButton{
    flex: 0 0 auto;        /* Prevent shrinking/growing, keep fixed width */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    width: 10em;
    height: 10em;
    margin: 0em 2em;
    
}

#menuList{
    margin: 0em 0em 1em 0em;
}

h3{
    font-size: 2rem;
}

.priceText{
    font-family: 'PT Serif Caption', serif;
    color: white;
}

.descriptionText{
    padding: 1em 0em; 
}

h1{
    padding: 1em 0em;
    margin: 1em 0.5em 0em 0.5em;
}


.customNote{
    color: rgb(247, 152, 152);
    font-size:  1em;
    padding: 1em;
}

.itemCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1em;
    margin: 0em; 
    gap: 1em;
    img{
        flex: 1;
        max-width: 100%;
        height: 20vh;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
        object-fit:cover;

        display: block;
        
    }

}

h2{
    font-size: 3rem;
}

.briefMenu{
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em 0em 2em; 
    a{
        background-color: rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    a:hover{
        background-color: rgba(0,0,0,0.8);
        color: white;
        border-radius: 50%;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
}





/*BUTTONS*/
#bouquetButton{
    font-family: "Fjalla One", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../GIFFILES/boquetIcon.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#wrappingButton{
    font-family: "Fjalla One", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../GIFFILES/wrappingIcon.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#extrasButton{
    font-family: "Fjalla One", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../GIFFILES/extraIcon.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#othersButton{
    font-family: "Fjalla One", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../GIFFILES/othersIcon.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}



@media (max-width: 768px) {
    header{
        h1{
            border: 0px;
        background: linear-gradient(rgba(96, 33, 33, 0.5), rgba(48, 24, 24, 0.9)), url(../GIFFILES/mvoing\ roses.gif) !important;
            background-size: 100%;
            margin: 0em;
            padding: 2em;
            box-shadow: 0.5rem 0px 1rem  rgba(0,0,0,0.5);
        }
    }

    h1{
        font-size: 3em;
        margin: 0em 0em 1em 0em;
        padding-bottom: 1em;

        background: linear-gradient(rgba(86, 46, 46, 0.5), rgba(0, 0, 0, 0.9)), url(../GIFFILES/roseRain.gif) !important;
    }

    h2{
        border-top: 3px solid rgba(0,0,0,0.2);
        font-size: 3em;
        padding: 0.5em;    
    }

    .itemTypeMenu{
        height: 10em;
        width: 50%;
        left: 25%;
        right: 25%;
        margin: 0.2em;
        bottom: 2em; 
        border-radius: 2em;
    }

    .itemTypeButton{
        height: 6rem;
        width: 6rem;
    }
    
    .itemCard{
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        text-align: left;
        h3{
            text-align: center;
            padding: 0.5em 0em 0em 0em;
        }

        img{
            max-height: 5em;
            width: 90%;
            object-fit: cover;
        }
    }

    .briefMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 2em 2em 2em; 
    a{
        background-color: rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    a:hover{
        background-color: rgba(0,0,0,0.8);
        color: white;
        border-radius: 50%;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
}


}

