@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');


/* FONTS 
FONT 1 : DynaPuff
.dynapuff-<uniquifier> {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


FONT ": CAL SANS
.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*/

/* scroll to top button */

.topbutton {
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    background-color: transparent;
}

.topbutton img {
    background-color: white;

    width: 2em; 
    height: 2em;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.topbutton img:hover {
    transform: scale(1.2);
}


html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    /* 
    background-image: linear-gradient(rgba(245, 231, 255, 0.7), rgba(255, 239, 252, 0.4)), url(../IMGFILES/backgroundImg2.png);
    background-size: repeat;
    background-size: 30em;
    */ 
}

*{
    box-sizing: border-box;
}

#menu-toggle{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0.5em !important;

    background: transparent !important;
    border: none !important;

    transition: all 0.2s ease-in-out !important;

}

#menu-toggle:hover{
    background-color: white !important;
    border-radius: 50% !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
}

.mobileNavBar{
    display:none;
}

.desktopNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0em 1em 0em 1em;

    background: linear-gradient(rgb(255, 255, 255,0.2), rgba(255, 255, 255, 0.6)),url(../IMGFILES/bakeryPattern.png);
    background-size: 20em;
}

.desktopNavBar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.desktopNavBar ul li{
    padding: 0.5em;

    a{
        border-radius: 0px !important;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: "Cal Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

h1{
    font-size: 3em;
    padding: 1em;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    
}

h2{
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


*{
    font-family: "DynaPuff", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;

}

a{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    padding: 1em;

}

a:hover{
    color: black;
    background: rgba(196, 148, 255, 0.1);
    border-radius: 10px;
    box-shadow: 2px  rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}


footer{
    background: linear-gradient(rgb(255, 255, 255,0.2), rgba(255, 255, 255, 0.6)),url(../IMGFILES/bakeryPattern.png);
    background-size: 20em;
    width: 100%;
    height: auto;
    padding: 2em;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    ul{
        padding: 1em;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    li{
        list-style-type: none;
        padding: 0.5em;
    }
}

.logo{
    width: 3em;
    height: 3em;
    border-radius: 50%;
      
}

.banner{
    align-items: center;
    display: flex;
    justify-content: center;

    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(../IMGFILES/bannerTemp.png);
    
    img{
        padding: 1em;
        border-radius: 50%;
        max-width: 100%;
        max-height: 40vh;
        width: auto;
        height: auto;
        object-fit: contain;
        display: block;
    }
   
}

.gallery{
    .buttons{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        align-items: center;
        justify-items: center;
        width: 100%;
        padding: 1em;
        img{
            width: 100%;
            height: auto;
        }
        button{
            border: none;
            background-color: transparent;
            img{
                width: 80%;
                height: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .desktopNavBar{
        display: none;
    }

    h1,h2,h3,h4,h5,h6{
        text-align: center;
    }

    .mobileNavBar{
        display: block;
        flex-direction: column;
        padding: 1em !important;

        align-items: center;

        background: linear-gradient(rgb(255, 255, 255,0.2), rgba(255, 255, 255, 0.6)),url(../IMGFILES/bakeryPattern.png);
        background-size: 20em;
    }

    .mobileNavBar ul{
        list-style-type: none;
        flex-direction: column;
        align-items: center;
        padding: 0em;
        width: 100%;
    }


    .mobileNavBar ul li{
        padding: 0.5em;

        a{
            border-radius: 0px !important;
        }
    }

    .mobileNavBar .nav-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .nav-links.active{
        max-height: 10em;
    }

    footer{
        ul{
            display: flex;
            flex-direction: column;
        }
    }
}