/* Reset some default styles */

.image-rollover-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
    padding: 10px 0;
}

.image-rollover-track {
    display: flex;
    width: max-content;
    will-change: transform; 
}

.image-rollover-track img {
    height: 8em; 
    width: auto; 
    margin-right: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    object-fit: cover; 
}

/* Pause animation on hover */
.image-rollover-container:hover .image-rollover-track {
    animation-play-state: paused;
}





.socialsButton{
    img{
        width: 2em;
        height: 2em;
    }
}


.redirect-item{
    background-color: wheat;
    border: 1px solid black;
    padding: 1em;
    a{
        font-size: 2em;
        padding: 0.5em;
        width: auto;
    }
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    img{
        width: 3em;
        height: auto;
        border-radius: 50%;
    }
}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
    .image-rollover-track img {
        height: 120px;
        margin-right: 10px;
    }
}