@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

/*

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-caption-regular {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
}
*/

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    text-align: center;
    width: 15%;
    img{
        width: 90%;
        height: 90%;
        border-radius: 10%;
        margin: 0.2em;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        object-fit: cover;
    }
    .itemName{
        padding: 0.5em 0em 0em 0em;
        font-family: 'Cal Sans', Arial, Helvetica, sans-serif;
    }
    .itemPrice{
        font-family: "PT Serif Caption", serif;
        padding: 0em 0em 0em 0.5em;
        font-size: 0.75em;
    }
}

button{
    border: none;
    font-size: 1em;
    text-align: left;
    padding: 1em;
    background: transparent;

    transition: all 0.2s ease-in-out;
}

button:hover{
    background-color: rgba(202, 202, 202, 0.5);
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.menuSelector{
    padding: 1em;
    display:  flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-top: 2px solid rgba(0,0,0,0.1);
    button{
        border-radius: 1em;
        width: 100%;
    }

    button:hover{
        transform: scale(0.95);
        color: white;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),url('../GIFFILES/pattern2.gif');
    }
}

.menuContainer{
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 2em;   
    background-color: #ffffff;
    
}

.itemType{
    border-radius: 50px 0px 0px 50px;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;   
    max-height: 50vh;

    overflow-y: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.3), rgba(255,255,255,0.8)), url('../GIFFILES/pattern2.gif');
    background-size: 20em;
}

.itemList{
    overflow-y: auto;
    max-height: 50vh; 
    
}

.menuList{
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.3), rgba(255,255,255,0.8)), url('../GIFFILES/purplestars2.gif');
    background-size: 10em;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.briefMenu{
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em 0em 2em; 
    a{
        background-color: rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    a:hover{
        background-color: rgba(0,0,0,0.8);
        color: white;
        border-radius: 50%;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
    .menuSelector{
        display: flex;
        flex-direction: column;
        padding: 0em;
        align-items: center;
        justify-content: center;
        h2{
            display: none;
        }
        button{
            font-family: 'Cal Sans', Arial, Helvetica, sans-serif;
            font-size: 1em;
            margin: 0em;
        }
        button:hover{
            color: white;
            transform: scale(0.95);
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),url('../GIFFILES/pattern2.gif');
        }
    }

    .menuContainer{
        all: unset;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    h2{
        font-size: 1em;
        text-align: center;
    }

    .itemType{
        h2{
            display: none;
        }
        
        border-radius: 0px;
        display: flex;
        align-items: center;
        height: 6em;
        overflow-x: auto;
    }

    .itemList{
        height: 100%;
        overflow: auto;
    }

    .item{
        width: 50%;
    }

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: auto;
        font-size: 100%;
    }

    .briefMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 2em 2em 2em; 
    a{
        background-color: rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    a:hover{
        background-color: rgba(0,0,0,0.8);
        color: white;
        border-radius: 50%;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
}

}